body {
    /* PLEASE FIX THIS font-family: Roboto*/
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header,
.hero,
.footer {
    background-color: #1F2937
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    padding-left: 8px;
    padding-right: 8px
}

.header {
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding: 4px;
}

.hero-logo {
    font-size: 18px;
}

.hero {
    display: flex;
    padding: 75px;
    gap: 32px;
    height: px;
}

.hero-text {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 50%;
}

.hero-main {
    font-size: 48px;
}

.signup-button button {
    padding: 4px 20px 4px 20px;
    border: 0;
    border-radius: 4px;
    margin-top: 8px;
}

li,
.hero-secondary,
.footer {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-logo,
.hero-main,
button {
    color: #F9FAF8;
    font-weight: 900;
}

button,
.call-to-action {
    background-color: #3882F6
}

.img-container {
    background-color: #6d747d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%
}









.footer {
    display: flex;
    justify-content: center;
    padding: 16px;
}