body {
    /* PLEASE FIX THIS font-family: Roboto*/
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    font-family: 'Roboto';
}

.header,
.hero,
.footer {
    background-color: #1F2937
}

ul {
    list-style-type: none;
}

.header ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header ul li {
    padding-left: 8px;
    padding-right: 8px
}

.header {
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding: 4px;
}

.hero-logo {
    font-size: 18px;
}

.hero {
    display: flex;
    padding: 75px;
    gap: 32px;
    height: px;
}

.hero-text {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 50%;
}

.hero-main {
    font-size: 48px;
}

.signup-button button {
    padding: 4px 20px 4px 20px;
    border: 0;
    border-radius: 4px;
    margin-top: 8px;
}

li,
.hero-secondary,
.footer {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-logo,
.hero-main,
button {
    color: #F9FAF8;
    font-weight: 900;
}

button,
.cta-container {
    background-color: #3882F6
}

.img-container {
    background-color: #6d747d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 32px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 75px;
    padding-left: 20% ;
    padding-right: 20% ;
}

.info-container li {
    flex-basis: 0
}

.info-container li div {
    color: #1F2937;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    width: 150px;
}

li img {
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.quote {
    background-color: #E5E7EB;
    padding: 5% 20% 5% 20%;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-author {
    font-weight: bold;
    align-self: flex-end;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 32px 64px 32px 64px;
    border-radius: 4px;
}

.cta-title {
    font-weight: 900;
}

.cta-text {
    font-size: 14px;
}

.cta-title,
.cta-text {
    color: #F9FAF8;
}


.cta-container button {
    padding: 4px 20px 4px 20px;
    flex-shrink: 0;
    border-radius: 4px;
    border-color: #F9FAF8;
}


.footer {
    display: flex;
    justify-content: center;
    padding: 16px;
}